<div class="row navbar-opacity">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <ul class="nav navbar-nav navbar-left">
          <li> <%= link_to 'NVESTR', root_path %>  </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to 'Log In', login_path, :remote => true %> </li>
        </ul>
      </div>
      <div class="col-sm-2"></div>
        
    </div><!-- /.navbar-collapse -->
  </nav>
</div>