<!-- Landing Page for non-users of Nvestr -->

<% content_for :sidebar do %>

<% end %>

<!-- Introduce the User to Nvestr -->
<% content_for :header do %>
<div class ="center">

	<div class="center nvestr-header">
		<div class="nvestr-header-text">
			<h1>Nvestr</h1>

			A simple, social investing simulator. 
		</div>
		
	</div>
	

</div>
<div class="col-sm-12 nvestr-landing-story orbitron">

	<div class="half-relative">
		<h2>One portfolio.</h2>
		<h2 class="bottom-right">One story.</h2>
	</div>
	
</div>

<% end %>


<!-- Allow the User to "Register/Get Started" -->

<div id="registrationDiv" >
	<!-- Gonna need a User model. A register_user route.  -->
	<!-- Gonna need required user attributes: user_name|Email|Password -->
	
</div>

<!-- Allow the User to "Contact Us" -->

<div>

</div>

<!-- Provide toplevel Menu Bar with a Login link -->

