  <div id="createTrade" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="modalHeader" class="center">Create Trade</h4>
      </div>
      <!-- @all_attribs and @header_attribs -->
      <div class="modal-body">
        <%= form_for @trade, url: create_trade_path, remote: true do |f| %>
          <table id='tradeTable' align="center" class="modal-table table table-striped table-bordered">
            <tbody class="center">
              <tr>
                <td class='header-td'>Stock</td>
                <td>
                  <%= f.collection_select(:stock_id, Stock.all, :id, :stock_symbol, {}, {class: "select-class"}) %>
                </td>
              </tr>
              
            </tbody>
          </table>
          <%= f.submit "Execute Trade", :id => "createTradeBtn", class: "btn btn-primary" %> 
        <% end %>
      </div>
    </div>
  </div>