<!-- Page for managing Users.  -->

<% content_for :sidebar do %>
<!-- sidebar content -->
	<%= render :partial => "layouts/sidebar" %>
<% end %>

<div class="manageStocks">
	<h1>Stocks</h1>
	<h3>Manage stocks here.</h3>

	<table class="table table-line">
		<tbody><tr><td></td></tr></tbody>
	</table>



	<%= form_tag({:action => :import}, multipart: true) do %>
		<table class='table table-bordered center'>
			<tbody>
				<tr>
					<td><%= file_field_tag :file %></td>
					<td><%= submit_tag( "Upload Symbols/Names", { class: 'btn btn-primary' })%></td>
				</tr>
			</tbody>
		</table>
  	<% end %>
  	
</div>