

<div class ="portfolioDiv">

	<div class="row fix-row">
		<div class="col-sm-12 center">
			<div class="half-width">
				<h1 style="text-align:left">Portfolio</h1>

				<!-- Total Value -->
				<!-- Stock Table -->
				<!-- Performance Charts -->

			</div>
		</div>
	</div>
</div>