

<div class ="portfolioDiv">

	<div class="row fix-row">
		<div class="col-sm-12 center">
			<div class="half-width">
				<h1 style="text-align:left">Portfolio</h1>


				<!-- Total Value -->
				<h2>Total Value: $10,000</h2>
				<!-- Stock Table -->
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Symbol</th>
							<th>Name</th>
							<th>Price</th>
							<th>Shares</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ABC</td>
							<td>Alphabet Corp.</td>
							<td>$100.00</td>
							<td>5</td>
							<td>$500.00</td>
						</tr>
					</tbody>
				</table>
				<!-- Performance Charts -->

			</div>
		</div>
	</div>
</div>