<!-- addStockModalBtn -->

  <div id="addStock" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="modalHeader" class="center">Add Stock</h4>
      </div>
      <!-- @attribs and @headers -->
      <div class="modal-body">
        <%= form_for @stock, url: create_stock_path, remote: true do |f| %>
          <table align="center" class="table table-striped table-bordered">
            <tbody class="center">
              <% @headers.zip(@attribs).each do |header, attribute| %>
                <tr>
                  <td><%= header %></td> 
                  <td>
                    <%= f.text_field attribute, class: "form-control" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= f.submit "Add", :id => "addStockBtn", class: "btn btn-primary" %> 
        <% end %>
      </div>
    </div>
  </div>