<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid half-width">
    <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to 'Portfolio', logout_path, method: "delete" %> </li>
      <li> <%= link_to 'Account', logout_path, method: "delete" %> </li>
      <li> <%= link_to 'Log Out', logout_path, method: "delete" %> </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>