<div id="userProfile">
    <!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#activity" role="tab">Activity</a>
	  </li>
	  <% if @is_admin then %>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Edit Profile & Settings</a>
	  </li>
	  <% end %>
	</ul>
</div>

<!-- TODO: Add placeholders for:
	Avatar
	Username
	Email
	Website
	Follow
	Direct Message
	Blog Posts
	Portfolio Performance chart
	Timeline -->
<div class="tab-content">
  <div class="tab-pane active" id="profile" role="tabpanel">
  	<div>
  		<h3><%= @user.user_name %></h3>
  		<h4><%= @user.email %></h4>
 		<h4><%= link_to 'Portfolio', portfolio_path(:id => @user.user_name) %> </h4>
  	</div>
  	
 	
  </div>
  <div class="tab-pane" id="activity" role="tabpanel">Activity</div>
  <% if @is_admin then %>
	  <div class="tab-pane" id="settings" role="tabpanel">
	  	<%= render(:partial => '/users/manage_user')   %>
	  </div>
  <% end %>
</div>