// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "simple-sidebar";
@import "dangerous";
@import "admin";
@import "exchange";
@import "portfolios";
@import "users";




.site-content-margin {
	margin: 20px;
}
.nvestr-dropdown-menu {
	min-width: auto !important;
}
body {
	font-family: 'Orbitron', sans-serif;
	padding-top: 50px;
	padding-bottom: 200px;
}

.center {
	text-align:center;
}

.half-width {
	width:50%;
	margin: auto;
}

.vertical-center{
	min-height: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;
}

.table-headers-bold thead tr td{
	font-weight:bold;
}

.fix-row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.sidebar {
	position:fixed;
	background-color:#dad4d4;
	height:100vh;
	width:200px;
	text-align:left;
	
}

.sidebar ul {
	margin-left:20px;
	margin-top:20px;
	color:black !important;
}

.sidebar a {
	color: black;
	opacity: 0.5;
}

.page-container {
	position:relative;
}

.table-line {
	margin-bottom:50px;
}
.manageUser {
	width:100%;
}

.orbitron {
	font-family: 'Orbitron', sans-serif;
}

.half-relative {
	position:relative;
	width:50%;
	margin: auto;
	height: 100%;
	opacity: 0.5;
}

.bottom-right {
	right:0;
	bottom:0;
	position:absolute;
	margin-bottom: 40px;
	opacity: 0.75 !important;
}

.btn-add-user {
	margin-bottom: 20px !important;
}

.nvestr-header {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:url('header-image-nvestr.jpg');
    background-size: 100%;
    width: 100%;
    height:400px;
    font-family: 'Orbitron', sans-serif;
    color: #f7f7f7 !important;
    padding-top:100px;

}
.reg-container {
	width: 100%;
	margin: 0 auto;
	background-color: #337ab7;
	padding-top: 50px;
	margin-bottom: 20px;
	opacity: 0.8;

}
.registration-form {
	width:50%;
	margin: 0 auto;
	height: 200px;

}
.registration-form-input {
  border: 0;
  outline: 0;
  color: white;
  background: transparent;
  border-bottom: 1px solid white;
  opacity: 0.5;
  margin: 10px;

}



.nvestr-landing-story {
	height:200px;
	background-color: #f9f9f9;
	color: #337ab7;
}

.row-navbar {
	margin-bottom: 20px;
}


