// Place all the styles related to the dangerous controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Styles for STRICTLY the landing page/login/signup pages

.table-login {
	margin: auto;
	margin-top: 20px;
	max-width: 50% !important;
	table-layout: fixed;
}

.table-login tbody tr td {
	border: 0px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.btn-table-login {
	float:right;
	margin-bottom: 20px !important;
}

.btn-social {
	margin-top: 20px;
	width:75%;
}

.registration-table {
	table-layout: fixed;
	width:50%;
	margin: 0px auto;
	float:none;
	
}

table.registration-table tr td {
	width:50%;
	position:relative;
}

.registration-btn {
	width:100px;
}



.fix-tbody {
	display:inherit;
	width:100%;
	text-align:left;
}

// Both text and icon
.error-attributes {
	color:red;

}

.span-error-msg {
	float:right;
}