
.user-profile-avatar {
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:url('avatar.png');
    background-size: 100px;
    width: 100px;
    height:100px;
    color: #f7f7f7 !important;
    margin: 20px;
    margin-bottom: 10px;
}

.user-profile-info {
}

.user-profile-actions {
	width:100px;
	height:30px;

	margin-left: 20px;
	margin-right: 20px;
}

.user-profile-actions-btns {
	font-size: 1.5em;
	color: #4e9def;
}

.post-header {
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
	letter-spacing: -.02em;
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	margin-left: -2.5px;
	line-height: 1.04;
	letter-spacing: -.028em;
}

.form-blog {
	border: 0px !important;
}

.form-blog-title {
	font-size: 3em;
	font-weight: bold;
}

.table-edit-user {
	margin-top: 20px;
}

table.table-edit-user tbody tr td {
	border:none;
	text-align: left;
}

.user-update-btn {
	float: right;
}
