<div class="sidebar">
	<ul class="nav nav-pills nav-stacked">

		<li> <%= link_to 'Manage Users', manage_users_path %> </li>
		<li> <%= link_to 'Manage Stocks', manage_stocks_path %> </li>


	</ul>

</div>




